<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item><a routerLink="/">
        首页
      </a></d-breadcrumb-item>
    <d-breadcrumb-item>
      开始使用
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      示例页
    </d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    示例页
  </div>
  <div>
    该页面仅展示了一个示例页面。
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">
        <!-- 查询插件 -->
        <section style="float: left;margin-right: 10px;">
          <div class="btn-group" bsStyle="primary" dDropDown [trigger]="'hover'">
            <a dDropDownToggle class="devui-dropdown-default devui-dropdown-origin">
              查询插件
              <span class="icon-select-arrow"></span>
            </a>
            <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
              <li role="menuitem">
                <a class="devui-dropdown-item" (click)="openLookPlugin()">查看插件</a>
              </li>
              <li role="menuitem">
                <a class="devui-dropdown-item" (click)="openCreatePlugin()">添加插件</a>
              </li>
            </ul>
          </div>
        </section>

        <!-- 快捷查询抽屉 -->
        <d-button (click)="openDrawer()">快捷查询</d-button>
        <ng-template #drawerContent>
          <div [style.margin]="'20px 20px 0 0'" [style.text-align]="'right'" [style.cursor]="'pointer'">
            <span (click)="close($event)" title="Close" class="icon icon-close"></span>
          </div>
          <div [style.margin]="'20px 20px 0 20px'">
            <div style="margin-bottom: 10px" nz-col nzSpan="24" *ngFor="let val of selectList">
              <d-checkbox [label]="val.name" [isShowTitle]="false" (change)="selectItemChange(val)"
                [(ngModel)]="val.check">
              </d-checkbox>
            </div>
          </div>
        </ng-template>

        <!-- 可自定义大屏 -->
        <span>
          <span>
            <d-button *ngIf="!canEditor" (btnClick)="editorWidget()" [style.float]="'right'">编辑大屏</d-button>
            <d-button [bsStyle]="'common'" (btnClick)="addWidget()" *ngIf="canEditor" [style.float]="'right'">
              添加模块
            </d-button>
            <d-button (btnClick)="saveEditor()" *ngIf="canEditor" [style.float]="'right'">保存编辑</d-button>
            <!-- <d-button [bsStyle]="'common'" (btnClick)="deleteWidget(widgets.length - 1)">删除模块</d-button> -->
          </span>
          <div>
            <d-dashboard #dashboard="dDashboard" class="dashboard" [ngClass]="canEditor==true ? 'arrow_box' : ''">
              <d-dashboard-widget *ngFor="let widget of widgets; let index = index" [(x)]="widget.x" [(y)]="widget.y"
                [(width)]="widget.width" [(height)]="widget.height" [minWidth]="widget.minWidth"
                [minHeight]="widget.minHeight" [maxWidth]="widget.maxWidth" [maxHeight]="widget.maxHeight"
                [locked]="widget.locked" [noMove]="widget.noMove || widget.locked"
                [noResize]="widget.noResize || widget.locked" [autoPosition]="widget.autoPosition" class="widget"
                (widgetInit)="widgetInit(index)" (widgetResize)="widgetInit(index)">
                <div>
                  <app-charts1 [eWidth]="widthArr[index]" [eHeight]="heightArr[index]" [index]="index" [isAdd]="isAdd">
                  </app-charts1>
                </div>
              </d-dashboard-widget>
            </d-dashboard>
          </div>
        </span>
      </div>
    </da-col-item>
  </da-layout-row>
</div>