<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item><a routerLink="/">
        首页
      </a></d-breadcrumb-item>
    <d-breadcrumb-item>
      开始使用
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      示例页
    </d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    示例页
  </div>
  <div>
    该页面仅展示了一个示例页面。
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">

        <!-- 抽屉 -->
        <d-button (click)="openDrawer()">打开查询插件</d-button>
        <ng-template #drawerContent>
          <div [style.margin]="'20px 20px 0 0'" [style.text-align]="'right'" [style.cursor]="'pointer'">
            <span (click)="close($event)" title="Close" class="icon icon-close"></span>
          </div>
          <!-- 抽屉内容 -->
          <div [style.margin]="'20px 20px 0 20px'">
            <!-- <div>Hello, Drawer!</div> -->
            <div style="margin-bottom: 10px" nz-col nzSpan="24" *ngFor="let val of selectList">
              <d-checkbox [label]="val.name" [isShowTitle]="false" (change)="selectItemChange(val)"
                [(ngModel)]="val.check">
              </d-checkbox>
            </div>
          </div>
        </ng-template>

        <!-- 可自定义大屏 -->
        <span>
          <span>
            <d-button [bsStyle]="'danger'" (btnClick)="editorWidget()" [style.float]="'right'">编辑模块</d-button>
            <d-button [bsStyle]="'common'" (btnClick)="saveEditor()" *ngIf="canEditor" [style.float]="'right'">
              保存编辑
            </d-button>
            <!-- <d-button (btnClick)="addWidget()">添加模块</d-button>
            <d-button [bsStyle]="'common'" (btnClick)="deleteWidget(widgets.length - 1)">删除模块</d-button> -->
          </span>
          <div>
            <d-dashboard #dashboard="dDashboard" class="dashboard" [ngClass]="canEditor==true ? 'arrow_box' : ''">
              <d-dashboard-widget *ngFor="let widget of widgets; let index = index" [(x)]="widget.x" [(y)]="widget.y"
                [(width)]="widget.width" [(height)]="widget.height" [minWidth]="widget.minWidth"
                [minHeight]="widget.minHeight" [maxWidth]="widget.maxWidth" [maxHeight]="widget.maxHeight"
                [locked]="widget.locked" [noMove]="widget.noMove || widget.locked"
                [noResize]="widget.noResize || widget.locked" [autoPosition]="widget.autoPosition" class="widget">
                <span>
                  <div class="index">{{ index + 1 }}</div>
                  <div class="content">
                    <div>
                      <div>
                        <span>坐标</span><span class="coordinate">{{ widget.x }} , {{ widget.y }}</span>
                      </div>
                      <div>
                        <span>宽 & 高</span><span class="size">{{ widget.width }} x {{ widget.height }}</span>
                      </div>
                      <div *ngIf="widget.locked"><span>固定形态</span></div>
                      <div *ngIf="widget.noMove"><span>禁止移动</span></div>
                      <div *ngIf="widget.noResize"><span>禁止变形</span></div>
                    </div>
                  </div>
                </span>
              </d-dashboard-widget>
            </d-dashboard>
          </div>
        </span>

      </div>
    </da-col-item>
  </da-layout-row>
</div>