<div class="da-content-banner">
  <div class="da-content-banner-title">
    自定义大屏
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">
        <!-- 按钮区 -->
        <div>
          <d-button *ngIf="!canEditor" (btnClick)="editorWidget()">编辑大屏</d-button>
          <d-button [bsStyle]="'common'" (btnClick)="addWidget()" *ngIf="canEditor">
            添加模块
          </d-button>
          <d-button (btnClick)="saveEditor()" *ngIf="canEditor">保存布局</d-button>
        </div>

        <!-- 模块展示区 -->
        <div>
          <d-dashboard #dashboard="dDashboard" class="dashboard" [ngClass]="canEditor==true ? 'arrow_box' : ''">
            <d-dashboard-widget *ngFor="let widget of widgets; let index = index" [(x)]="widget.x" [(y)]="widget.y"
              [(width)]="widget.width" [(height)]="widget.height" [minWidth]="widget.minWidth"
              [minHeight]="widget.minHeight" [maxWidth]="widget.maxWidth" [maxHeight]="widget.maxHeight"
              [locked]="widget.locked" [noMove]="widget.noMove || widget.locked"
              [noResize]="widget.noResize || widget.locked" [autoPosition]="widget.autoPosition" class="widget"
              (widgetInit)="widgetInit(index)" (widgetResize)="widgetInit(index)">
              <div class="handleData" *ngIf="canEditor">
                <!-- 删除模块 -->
                <div class="deleteData" (click)="deleteData(index)" dPopover [content]="'删除模块'"
                  [position]="['top','bottom']" [trigger]="'hover'" [popType]="'default'" [controlled]='true'
                  [appendToBody]='true'>
                </div>
                <!-- 修改图表 -->
                <div class="changeData" (click)="changeData(index)" dPopover [content]="'修改数据源'"
                  [position]="['top','bottom']" [trigger]="'hover'" [popType]="'default'" [controlled]='true'
                  [appendToBody]='true'>
                </div>
              </div>
              <div>
                <app-custom-chart [eWidth]="widthArr[index]" [eHeight]="heightArr[index]" [index]="index"
                  [isAdd]="isAdd" [changeDataIndex]="changeDataIndex">
                </app-custom-chart>
              </div>
            </d-dashboard-widget>
          </d-dashboard>
        </div>
      </div>
    </da-col-item>
  </da-layout-row>
</div>